body{
	background-color: #F2F2F2;
	margin: 1%;
	padding:1%;
}
/*use box-sizing property, browser will do the math for you*/
/* don't have to calculate padding, border separately*/
nav{
	box-sizing:border-box;
	border: 1px solid #06425C;
	color:#06425C;
	background-color:#486B02;
	display: inline-block;
	width: 20%;
	min-width: 125px;
	margin-right:15px;
    /*100 viewport height,take up the whole height of the screen*/
	height:100vh;
	overflow: auto;
}

nav a{
	display:block;
	/*use this line-height to make the text and the pic lined up*/
    line-height: 45px;
	height:45px;
	color: #FFFFFF;
	background-color:#486B02;
	text-decoration: none;
	background-color:#486B02;
	background: url('../imgs/arrow.png') no-repeat;
	padding-left: 50px;
	margin:10px 0 10px 5px;
}

section{
	display: inline-block;
	width:70%;
	height:100vh;
	overflow: auto;

}